.card-game {
     box-sizing: border-box;
     width: var(--width);
     height: var(--height);
     background-color: var(--color-alura);
     border: solid 4px var(--color-floral-white);
     display: flex;
     align-items: center;
     justify-content: center;
}
